*{
   margin: 0;
   padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

body{
  background-color: black;
}

.navbar a{
  color:wheat;
} 

.navbar{
   position: sticky;
  top:0;
  z-index:1;
}

.row{
  background-color: rgb(42, 39, 39);
  height: 600px;
  border-radius: 10px;
}

.box{
   border: 1px solid rgb(205, 205, 213);
   height: 400px;
   width: 300px;
   margin: 10px;
   padding: 10px;
   background:linear-gradient(to top,rgb(251, 255, 0) 50%,rgb(0, 0, 0) 50%);
   background-size: 100% 200%;
   transition: all 0.8s;
  
}

.box:hover{
   background-position: right bottom;
}


.box img:hover {
         scale: 1.06;
}

.box h5{
   margin-top: 5px;
   color: rgb(253, 253, 253);
   font-size: 30px;
   text-align: center;

}

.box h5:hover{
    text-decoration: underline;
}

.box p{
   text-align: justify;
  font-size: inherit;
  color: white;
}

.card{
  margin-left: 90px;
}